* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.siderbar {
  min-height: 100vh;
  background-color: #3d3d3d;
  color: white;
  width: 8vw;
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 16px;
  flex-direction: column;
}

.logo {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.underline {
  width: 49px;
  height: 1px;
  border-top: 1px solid #7d7d7d;
}
