<div class="flex main">
  <app-sidebar-layout></app-sidebar-layout>
  <div class="flex-col">
    <app-header-layout></app-header-layout>
    <div class="dashboard">
      <div class="nav">
        <button class="back_button" (click)="navigateToDashboard()" nz-button nzType="primary">
          <mat-icon class="arrow_back">arrow_back</mat-icon>
        </button>
        <h2 class="heading text_dark_blue">{{ project.name }}</h2>
      </div>
      <div class="search">
        <div class="input_container">
          <mat-icon class="search_icon">search</mat-icon>
          <input
            placeholder="Search by name"
            class="search_box"
            [(ngModel)]="filterValue"
            (ngModelChange)="applyFilter()"
          />
        </div>
        <div class="select_container">
          <select [(ngModel)]="filterOn" (ngModelChange)="applyFilter()">
            <option *ngFor="let column of colomnData" value="{{ column.key }}">
              {{ column.name }}
            </option>
          </select>
        </div>
        <div>
          <button class="create_button" nz-button nzType="primary">
            + Create Position
          </button>
        </div>
      </div>
      <div class="body">
        <div class="table">
          <nz-table [nzData]="rowData">
            <thead>
              <tr>
                <th
                  *ngFor="let column of colomnData"
                  (click)="sort(column.key)"
                  [ngClass]="{ sortable: true }"
                >
                  {{ column.name }}
                  <span *ngIf="sortKey === column.key">
                    <mat-icon *ngIf="sortOrder === 'ascend'" class="sort-icon"
                      >arrow_upward</mat-icon
                    >
                    <mat-icon *ngIf="sortOrder === 'descend'" class="sort-icon"
                      >arrow_downward</mat-icon
                    >
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of rowData">
                <td>{{ row.designation }}</td>
                <td>{{ row.department }}</td>
                <td>{{ row.budget }}</td>
                <td>{{ row.location }}</td>
                <td>
                  <div class="flex last_updated">
                    <div>
                      <p>{{ row.last_updated.name }}</p>
                      <p class="time">{{ row.last_updated.time }}</p>
                    </div>
                    <div>
                      <mat-icon [ngStyle]="{ cursor: 'pointer' }"
                        >delete_outline</mat-icon
                      >
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>

        <div class="chart">
          <div class="chart_heading">
            <h3 class="text_dark_blue budget_title">Budget</h3>
            <h4 class="edit_link">Edit</h4>
          </div>
          <div class="chart_main">
            <highcharts-chart
              [Highcharts]="Highcharts"
              [constructorType]="chartConstructor"
              [options]="chartOptions"
              [callbackFunction]="chartCallback"
              [(update)]="updateFlag"
              [oneToOne]="oneToOneFlag"
              [runOutsideAngular]="runOutsideAngular"
              style="
                width: 100%;
                height: 300px;
                display: block;
                margin-top: 0px;
              "
            ></highcharts-chart>
          </div>
          <div class="divider"></div>
          <div class="chart_info text_dark_blue">
            <div class="flex-col center">
              <div class="flex item">
                <div>Total budget:</div>
                <div class="values">2 Cr</div>
              </div>
              <div class="flex item">
                <div>Used:</div>
                <div class="values">1.5 Cr</div>
              </div>
              <div class="flex item">
                <div>Left:</div>
                <div class="values">50 L</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
