<div class="container">
  <div class="login">
    <div class="main">
      <div class="logo_container">
        <img src="assets/images/logo.png" class="logo" alt="logo" />
        <div><img src="assets/images/hw_logo.jpg" /></div>
      </div>
      <div class="input_container">
        <h3 class="heading text_dark_blue">Login</h3>
        <div class="form_container">
          <form nzLayout="vertical" nz-form>
            <nz-form-item>
              <nz-form-label class="form_label text_gray" nzFor="email"
                >Email ID</nz-form-label
              >
              <nz-form-control>
                <input
                  class="input_box"
                  placeholder="Enter your email ID"
                  nz-input
                  [(ngModel)]="email"
                  name="email"
                  type="email"
                  id="email"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label class="form_label" nzFor="password"
                >Password</nz-form-label
              >
              <nz-form-control>
                <input
                  class="input_box"
                  placeholder="Enter your password"
                  nz-input
                  [(ngModel)]="password"
                  name="password"
                  type="password"
                  id="password"
                />
              </nz-form-control>
            </nz-form-item>
          </form>
          <!-- <input type="text"> -->
        </div>
      </div>
      <button
        class="bg-yellow text_dark_blue"
        (click)="login()"
        nz-button
        nzType="primary"
      >
        Login
      </button>
    </div>
  </div>
</div>
