.container {
  background-color: #fbf7f3;
  weight: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  background-color: white;
  width: 50%;
  display: flex;
  height: 60%;
  justify-content: center;
  border-radius: 8px;
}

.bg-yellow {
  border-radius: 20px;
  fort-weight: 600 !important;
}
.text_dark_blue {
  color: #091e42;
}
.text_gray {
  color: #465671 !important;
}

.logo {
  width: 58px;
  height: 58px;
}
.logo_container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.heading {
  height: 30px;
  font-weight: 600;
  font-size: 24px;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.input_container {
  width: 50%;
}
.form_label {
  /* margin-bottom: -10px; */
}
.input_box {
  border-width: 1px !important;
  border-style: solid;
  border-color: #e6e8ec;
  box-shadow: none;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}
.form_container {
  margin-top: 30px;
}
