* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-yellow {
  background-color: "#FFB414" !important;
}
.ant-btn-primary {
  radius: 0;
  color: black;
  font-weight: 600;
  background-color: #ffb414 !important;
  border-color: #ffb414 !important;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.bold {
  font-weight: 600;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
